* {
  box-sizing: border-box;
}

#blockbyte-bs-indicator {
  display: none !important;
}

body {
  margin: 0;
  padding: 0px;
  outline: none;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif !important;
  cursor: crosshair;
  color: #4a4a4a !important;
  overflow-x: hidden;
  background-color: white;
}

a,
a:visited,
a:active {
  text-decoration: none;
  outline: none;
  color: #4a4a4a;
}
a:not(.active):hover {
  color: #4a4a4a !important;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}
::selection {
  background-color: #494949;
  color: white;
}

#s-m-t-tooltip {
  max-width: 300px;
  background-color: #4a4a4a;
  font-size: 11px;
  color: #fff;
  letter-spacing: 1.25px;
  text-transform: lowercase;
  padding: 8px;
  margin: 20px 0px 0px 20px;
  z-index: 999999999;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.header {
  height: 75px;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  float: left;
  background-image: url("/public/images/logo.png");
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: left center;
}

.links {
  display: flex;
  width: 75%;
  justify-content: flex-end;
}

.links a {
  color: #aaa;
  margin-left: 65px;
}

.container {
  width: 80%;
  height: calc(100vh - 150px);
  padding-top: 30px;
  margin: auto;
}
.photo {
  width: 33.33%;
  float: left;
  height: 100%;
  background-image: url("/public/images/4_1.png");
  background-size: cover;
  background-position: right;
  opacity: 0.9;
  border-radius: 3px;
}
.content {
  width: 66.66%;
  float: right;
  padding: 0px 50px 0px 50px;
  margin-bottom: 20px;
}
.content .title {
  position: relative;
  display: block;
  height: auto;
  font-size: 36px;
  line-height: 100%;
  font-weight: 700;
}
.content .desc {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
}

.content .content-container {
  margin-top: 50px;
}

.content-container table {
  width: 100%;
  padding: none;
}

.content-container table td {
  width: 50%;
}

.content-container th.table-header {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.content-container .text {
  font-size: 15px;
  line-height: 175%;
}

ul {
  list-style-type: none;
}
li {
  padding-bottom: 5px;
}

.active {
  font-weight: 700 !important;
}

.red {
  color: #e07a5f !important;
}

.green {
  color: #81b29a !important;
}

.blue {
  color: #525caf !important;
}

.yellow {
  color: #e2a748 !important;
}

.hidden {
  visibility: hidden !important;
}

.full {
  width: 100% !important;
  padding: 0px !important;
}

@media only screen and (max-width: 768px) {
  * {
    width: 100% !important;
  }

  .grid > div {
    flex: 0 100% !important;
  }

  .header {
    display: block;
    padding: 1em !important;
    justify-content: flex-start;
    margin-bottom: 2em;
    border: none;
  }

  .links {
    width: 100% !important;
    justify-content: space-between !important;
  }

  .links a {
    width: 100% !important;
    margin: 0px !important;
    padding: none !important;
    text-align: center;
  }

  .logo {
    position: relative !important;
    width: 100% !important;
    margin: auto !important;
    z-index: 99999;
    background-position: center;
    margin-bottom: 1em !important;
  }

  .container,
  .content {
    padding: 1em !important;
  }

  .content-container table {
    width: 100%;
  }

  .content-container td,
  th {
    width: auto !important;
    padding: none;
  }

  .content .title {
    font-size: 2em;
    margin-top: 1em;
  }

  .content .desc {
    font-size: 1em !important;
  }

  ul {
    padding-left: 1.5em;
  }
  .photo {
    height: 45%;
    background-size: cover;
    background-position: top center;
  }

  .content-container blockquote {
    word-wrap: break-word;
    margin-left: 0px !important;
  }

  .content-container figure {
    margin: 0px !important;
    padding: 0px !important;
  }

  .content-container figure img {
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.grid .item {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-right: 2em;
}

.item label {
  position: relative;
  padding-bottom: 1em;
}
.grid .item .square {
  height: 350px;
  background-color: #eee;
  border-radius: 3px;
}

#mujo {
  background-image: url("/public/images/logo_mujo.png"),
    linear-gradient(#8e3e72, #563f8d);
  background-position: center;
  background-repeat: no-repeat;
}

#tumblr {
  background-image: url("/public/images/tumblr.png"),
    linear-gradient(#36465c, #36465c);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid > div {
  flex: 0 47%;
}

#about_me a:link,
#about_me a:visited,
#about_me a:active {
  color: #e07a5f !important;
}

.content-container .text .heading,
.content-container .text label {
  font-weight: 700;
}

.content-container .text .heading {
  font-size: 1.15em;
}
.content-container .text label {
  font-size: 1.5em;
  color: #81b29a;
}
.content-container .text img {
  margin: auto;
}

.content-container blockquote {
  border-left: 5px solid #81b29a;
  padding-left: 1em;
  margin-bottom: 2em;
  font-weight: 700;
}

.content-container a {
  color: #81b29a;
  font-weight: 700;
}

.content-container figure {
  margin: auto !important;
  padding: 0px !important;
}

figure img {
  margin-bottom: 1em !important;
}

.back {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}

.back a {
  color: #81b29a;
  font-weight: 700;
}
.back i {
  margin-right: 0.5em;
}

#social {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 14px;
}

#social a {
  display: none;
  font-size: 12px;
  color: #4a4a4a;
}

#social a:hover {
  color: #525caf;
}
